@import url(http://fonts.googleapis.com/css?family=IM+Fell+English+SC);
@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);

body
{
	margin: 0;
	padding: 0;
	background: url("../images/burlap.jpg") repeat;
	font-family: "Nothing You Could Do", cursive;
}

header
{
	height: 20em;
	padding: 1em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
	background: url("../images/runner.jpg") repeat;
	box-shadow: 0 10px 50px #000;
}

header a,
header a:visited
{
	text-decoration: none;
	color: #000;
}

header a:hover
{
	text-decoration: underline;
}

nav a
{
	margin: 0 1em;
	font-weight: bolder;
}

section
{
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 20%;
	background-color: #fff;

	/* Used for the padding between sections */
	padding-bottom: 16em;
}

img#banner
{
	height: 15em;
	width: 60em;
	margin: 2em;
}

h1, h2, h3
{
	font-family: "IM Fell English SC", serif;
}

h2
{
	/* Used for the padding between sections */
	padding-top: 16em;
}

table
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

table
{
	border-collapse: collapse;
}

th
{
	text-align: left;
	border-bottom: 1px #000 solid;
}

td
{
	margin: 0;
	padding: 0.45em 0;
}

.center
{
	text-align: center;
}

.ical
{
	/*background-image: url("../images/ical.png");*/
	width: 16px; 
	height: 16px;
}

#thedate span
{
	font-size: 48px;
	font-weight: bold;
}