@import url(http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister);
@import url(http://fonts.googleapis.com/css?family=Covered+By+Your+Grace);

body
{
	margin: 0;
	padding: 0;
	background: url("../images/burlap.jpg") repeat;
	font-family: "Covered By Your Grace", cursive;
	font-size: +25;
}

header
{
	height: 185px;
	padding: 0em;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	text-align: center;
	background: url("../images/banner.png") repeat-x;
	background-color: #82a54b;
	box-shadow: 0 10px 50px #000;
}

header a,
header a:visited
{
	text-decoration: none;
	color: #000;
}

header a:hover
{
	text-decoration: underline;
}

nav
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

nav a
{
	margin: 0 1em;
	font-weight: bolder;
}

section
{
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin: 0 20%;
	background: url("../images/runner.jpg") repeat;
	background-color: #fff;
	border-left: 10px #82a54b solid;
	border-right: 10px #82a54b solid;

	/* Used for the padding between sections */
	padding-bottom: 600px;
}

footer
{
	padding: 1em;
	margin: 0 20%;
	background: url("../images/runner.jpg") repeat;
	background-color: #fff;
	border-left: 10px #82a54b solid;
	border-right: 10px #82a54b solid;
	text-align: center;
}

h1, h2, h3
{
	font-family: "Love Ya Like A Sister", cursive;
	font-size: +40;
}

h2
{
	/* Used for the padding between sections */
	padding-top: 200px;
}

table
{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	font-size: +25;
}

table
{
	border-collapse: collapse;
}

th
{
	text-align: left;
	border-bottom: 1px #000 solid;
}

td
{
	margin: 0;
	padding: 0.45em 0;
	text-align: left;
	vertical-align: text-top;
}

.center
{
	text-align: center;
}

.ical
{
	width: 16px; 
	height: 16px;
}

.bigfont
{
	font-size: 48px;
	font-weight: bold;
}

.daisy
{
	position: fixed; 
	margin: 0.35em;
	width: 18%;
}

.red.daisy
{
	top: 200px;
	left: 0;
}

.orange.daisy
{
	bottom: 0;
	right: 0;
}